.navbar-custom {
    background-color: rgb(25, 15, 45);
    box-shadow: none;
}

.left-side-menu {
    background-color: rgb(25, 15, 45);
    box-shadow: none;
}

body {
    background-color: rgb(14, 7, 28);
    box-shadow: none;
    margin-bottom: 0px;
    color: white;
}


.footer {
    background-color: rgb(25, 15, 45);
    box-shadow: none;
}

.content-page .card {
    background-color: rgb(25, 15, 45);
}


a {
    color: white;
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield;
    /* Firefox */
}




.bg-transparent {
    background: transparent;
}


input.bg-transparent:-webkit-autofill,
input.bg-transparent:-webkit-autofill:hover,
input.bg-transparent:-webkit-autofill:focus,
input.bg-transparent:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #ffffff;
}


.pagination {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    width: auto;
}

.pagination .page-item .page-link {
    background: transparent;
    border: none;
    color: white;
    box-shadow: none;
    padding: 10px 20px;
}

.pagination .page-item.disabled .page-link {
    color: gray;
}

.pagination .page-item.active {
    background: rgba(33, 27, 46, 1);
}

.pagination .page-item:hover {
    background: rgba(33, 27, 46, .5);
}